/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

img {
    width: 100%;
    display: block;
}

div.container {
    margin: auto;
    max-width: 50em;
}

h1 {
    width: 10em;
    padding: 1em 0.5em;
}

h2 {
    color: rgb(100, 116, 237);
    font-size: 1.8em;
    font-weight: 600;
    padding-top: .2em;
    margin-left: .5rem;
}

article h2 {
    font-size: 3em;
}

section.main h2 {
    font-size: 3em;
}

section.tertiary h2 {
    font-size: 1.2em;
    padding-top: .5em;
}

a {
    text-decoration: none;
    color: rgb(100, 116, 237);
}

p {
    color: black;
    padding-bottom: 2em;
    font-family: sans-serif;
    line-height: 1.2;
    margin-left: .5rem;
}

section.tertiary {
    border-top: 2px solid rgb(100, 116, 237);
}

section {
    margin: auto;
}

figcaption {
    margin-left: .5rem;
    padding-bottom: 1em;
    color: gray;
    font-style: italic;
    font-family: sans-serif;
    padding-bottom: 1.5em;
    padding-top: .5em;
}

nav {
    font-family: sans-serif;
    font-weight: 600;
    padding: 0em 0.5em 1em;
}

nav a {
    padding-right: .75em;
    padding-top: 1em;
}

nav ul li {
    list-style-type: none;
    padding-top: .25em;
}

footer {
    background-color: rgb(100, 116, 237);
    color: white;
    padding: .5rem;
    font-family: sans-serif;
}

aside {
    padding: 1em;
    background-color: rgb(183, 188, 239);
}

aside h2 {
    font-size: 1.2em;
    margin-left: 0;
}

aside p {
    margin-left: 0;
}

@media screen and (min-width: 40em) {
    nav ul li {
        display: inline;
        padding: 0;
    }

    nav {
        margin: 0;
        padding-left: 0;
    }

    h2, p, figcaption {
        margin: 0;
    }

    h1 {
        margin: 0;
        padding-left: 0;
    }

    
}